---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/home/Hero.astro";
import FeaturedProjects from "../components/home/FeaturedProjects.astro";
import SkillsOverview from "../components/home/SkillsOverview.astro";
import ExperienceTimeline from "../components/home/ExperienceTimeline.astro";
import BlogPreview from "../components/home/BlogPreview.astro";
import ContactCta from "../components/home/ContactCta.astro";
---

<BaseLayout title="Pawel Ryfiak | Portfolio">
  <main id="main-content">
    <Hero />
    <FeaturedProjects />
    <SkillsOverview />
    <ExperienceTimeline />
    <BlogPreview />
    <ContactCta />
  </main>
</BaseLayout>
